<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Document</title>
</head>
<body>
  <header class="header"></header>
  <section class="container-padre">
    <div class="cuadrado-rosa"></div>
    <div class="cuadrado-verde">
      <div class="cuadrado"></div>
      <div class="cuadrado"></div>
    </div>
    <div class="cuadrado-celeste">
      <div class="r1"></div>
      <div class="r2"></div>
      <div class="r3"></div>
      <div class="r4"></div>
    </div>
  </section>
</body>
</html>